In [1]:
#pip install pyspark

In [1]:
import pyspark

### creating the spark session

In [ ]:
from pyspark.sql import SparkSession
spark =SparkSession.builder.appName('firstprogram').getOrCreate()
spark

### reading the data from local system

In [ ]:
df=spark.read.csv('C://Users/VarunNagendra/Desktop/emp.csv',header=True,inferSchema=True)

In [ ]:
df.show(5)

In [ ]:
print(df.columns)

In [ ]:
print(df.printSchema)

In [ ]:
print(df.dtypes)

In [ ]:
df.describe().show()

### adding new column

In [10]:
df=df.withColumn('New salary',df['sal']+2000)
df.show()

+------+-------+--------+----+----------+----+----+------+----------+
| EMPNO| ENAME |     JOB| MGR|HIREDATE  | SAL|COMM|DEPTNO|New salary|
+------+-------+--------+----+----------+----+----+------+----------+
|  7698|  BLAKE| MANAGER|7839| 01-May-81|2850|null|    30|      4850|
|  7782|  CLARK| MANAGER|7839| 09-Jun-81|2450|null|    10|      4450|
|  7566|  JONES| MANAGER|7839| 02-Apr-81|2975|null|    20|      4975|
|  7788|  SCOTT| ANALYST|7566| 19-Apr-87|3000|null|    20|      5000|
|  7902|   FORD| ANALYST|7566| 03-Dec-81|3000|null|    20|      5000|
|  7369|  SMITH|   CLERK|7902| 17-Dec-80| 800|null|    20|      2800|
|  7499|  ALLEN|SALESMAN|7698| 20-Feb-81|1600| 300|    30|      3600|
|  7521|   WARD|SALESMAN|7698| 22-Feb-81|1250| 500|    30|      3250|
|  7654| MARTIN|SALESMAN|7698| 28-Sep-81|1250|1400|    30|      3250|
|  7844| TURNER|SALESMAN|7698| 08-Sep-81|1500|   0|    30|      3500|
|  7876|  ADAMS|   CLERK|7788| 23-May-87|1100|null|    20|      3100|
+------+-------+--------+----+----------+----+----+------+----------+

### deleting the columns

In [11]:
df=df.drop('New salary')
df.show()

+------+-------+--------+----+----------+----+----+------+
| EMPNO| ENAME |     JOB| MGR|HIREDATE  | SAL|COMM|DEPTNO|
+------+-------+--------+----+----------+----+----+------+
|  7698|  BLAKE| MANAGER|7839| 01-May-81|2850|null|    30|
|  7782|  CLARK| MANAGER|7839| 09-Jun-81|2450|null|    10|
|  7566|  JONES| MANAGER|7839| 02-Apr-81|2975|null|    20|
|  7788|  SCOTT| ANALYST|7566| 19-Apr-87|3000|null|    20|
|  7902|   FORD| ANALYST|7566| 03-Dec-81|3000|null|    20|
|  7369|  SMITH|   CLERK|7902| 17-Dec-80| 800|null|    20|
|  7499|  ALLEN|SALESMAN|7698| 20-Feb-81|1600| 300|    30|
|  7521|   WARD|SALESMAN|7698| 22-Feb-81|1250| 500|    30|
|  7654| MARTIN|SALESMAN|7698| 28-Sep-81|1250|1400|    30|
|  7844| TURNER|SALESMAN|7698| 08-Sep-81|1500|   0|    30|
|  7876|  ADAMS|   CLERK|7788| 23-May-87|1100|null|    20|
+------+-------+--------+----+----------+----+----+------+

### renaming the column names

In [12]:
df.withColumnRenamed('COMM','COM').show()

+------+-------+--------+----+----------+----+----+------+
| EMPNO| ENAME |     JOB| MGR|HIREDATE  | SAL| COM|DEPTNO|
+------+-------+--------+----+----------+----+----+------+
|  7698|  BLAKE| MANAGER|7839| 01-May-81|2850|null|    30|
|  7782|  CLARK| MANAGER|7839| 09-Jun-81|2450|null|    10|
|  7566|  JONES| MANAGER|7839| 02-Apr-81|2975|null|    20|
|  7788|  SCOTT| ANALYST|7566| 19-Apr-87|3000|null|    20|
|  7902|   FORD| ANALYST|7566| 03-Dec-81|3000|null|    20|
|  7369|  SMITH|   CLERK|7902| 17-Dec-80| 800|null|    20|
|  7499|  ALLEN|SALESMAN|7698| 20-Feb-81|1600| 300|    30|
|  7521|   WARD|SALESMAN|7698| 22-Feb-81|1250| 500|    30|
|  7654| MARTIN|SALESMAN|7698| 28-Sep-81|1250|1400|    30|
|  7844| TURNER|SALESMAN|7698| 08-Sep-81|1500|   0|    30|
|  7876|  ADAMS|   CLERK|7788| 23-May-87|1100|null|    20|
+------+-------+--------+----+----------+----+----+------+

### droping the "NULL" values

In [13]:
df.na.drop().show()

+------+-------+--------+----+----------+----+----+------+
| EMPNO| ENAME |     JOB| MGR|HIREDATE  | SAL|COMM|DEPTNO|
+------+-------+--------+----+----------+----+----+------+
|  7499|  ALLEN|SALESMAN|7698| 20-Feb-81|1600| 300|    30|
|  7521|   WARD|SALESMAN|7698| 22-Feb-81|1250| 500|    30|
|  7654| MARTIN|SALESMAN|7698| 28-Sep-81|1250|1400|    30|
|  7844| TURNER|SALESMAN|7698| 08-Sep-81|1500|   0|    30|
+------+-------+--------+----+----------+----+----+------+

In [14]:
df.na.drop(how='all').show()

+------+-------+--------+----+----------+----+----+------+
| EMPNO| ENAME |     JOB| MGR|HIREDATE  | SAL|COMM|DEPTNO|
+------+-------+--------+----+----------+----+----+------+
|  7698|  BLAKE| MANAGER|7839| 01-May-81|2850|null|    30|
|  7782|  CLARK| MANAGER|7839| 09-Jun-81|2450|null|    10|
|  7566|  JONES| MANAGER|7839| 02-Apr-81|2975|null|    20|
|  7788|  SCOTT| ANALYST|7566| 19-Apr-87|3000|null|    20|
|  7902|   FORD| ANALYST|7566| 03-Dec-81|3000|null|    20|
|  7369|  SMITH|   CLERK|7902| 17-Dec-80| 800|null|    20|
|  7499|  ALLEN|SALESMAN|7698| 20-Feb-81|1600| 300|    30|
|  7521|   WARD|SALESMAN|7698| 22-Feb-81|1250| 500|    30|
|  7654| MARTIN|SALESMAN|7698| 28-Sep-81|1250|1400|    30|
|  7844| TURNER|SALESMAN|7698| 08-Sep-81|1500|   0|    30|
|  7876|  ADAMS|   CLERK|7788| 23-May-87|1100|null|    20|
+------+-------+--------+----+----------+----+----+------+

In [15]:
df.na.drop(how='any').show()

+------+-------+--------+----+----------+----+----+------+
| EMPNO| ENAME |     JOB| MGR|HIREDATE  | SAL|COMM|DEPTNO|
+------+-------+--------+----+----------+----+----+------+
|  7499|  ALLEN|SALESMAN|7698| 20-Feb-81|1600| 300|    30|
|  7521|   WARD|SALESMAN|7698| 22-Feb-81|1250| 500|    30|
|  7654| MARTIN|SALESMAN|7698| 28-Sep-81|1250|1400|    30|
|  7844| TURNER|SALESMAN|7698| 08-Sep-81|1500|   0|    30|
+------+-------+--------+----+----------+----+----+------+

In [16]:
df.na.drop(how='any',thresh=2).show()

+------+-------+--------+----+----------+----+----+------+
| EMPNO| ENAME |     JOB| MGR|HIREDATE  | SAL|COMM|DEPTNO|
+------+-------+--------+----+----------+----+----+------+
|  7698|  BLAKE| MANAGER|7839| 01-May-81|2850|null|    30|
|  7782|  CLARK| MANAGER|7839| 09-Jun-81|2450|null|    10|
|  7566|  JONES| MANAGER|7839| 02-Apr-81|2975|null|    20|
|  7788|  SCOTT| ANALYST|7566| 19-Apr-87|3000|null|    20|
|  7902|   FORD| ANALYST|7566| 03-Dec-81|3000|null|    20|
|  7369|  SMITH|   CLERK|7902| 17-Dec-80| 800|null|    20|
|  7499|  ALLEN|SALESMAN|7698| 20-Feb-81|1600| 300|    30|
|  7521|   WARD|SALESMAN|7698| 22-Feb-81|1250| 500|    30|
|  7654| MARTIN|SALESMAN|7698| 28-Sep-81|1250|1400|    30|
|  7844| TURNER|SALESMAN|7698| 08-Sep-81|1500|   0|    30|
|  7876|  ADAMS|   CLERK|7788| 23-May-87|1100|null|    20|
+------+-------+--------+----+----------+----+----+------+

In [17]:
df.na.drop(how='any',subset=['COMM']).show()

+------+-------+--------+----+----------+----+----+------+
| EMPNO| ENAME |     JOB| MGR|HIREDATE  | SAL|COMM|DEPTNO|
+------+-------+--------+----+----------+----+----+------+
|  7499|  ALLEN|SALESMAN|7698| 20-Feb-81|1600| 300|    30|
|  7521|   WARD|SALESMAN|7698| 22-Feb-81|1250| 500|    30|
|  7654| MARTIN|SALESMAN|7698| 28-Sep-81|1250|1400|    30|
|  7844| TURNER|SALESMAN|7698| 08-Sep-81|1500|   0|    30|
+------+-------+--------+----+----------+----+----+------+

### filling the null values

In [18]:
df.na.fill('varun').show()

+------+-------+--------+----+----------+----+----+------+
| EMPNO| ENAME |     JOB| MGR|HIREDATE  | SAL|COMM|DEPTNO|
+------+-------+--------+----+----------+----+----+------+
|  7698|  BLAKE| MANAGER|7839| 01-May-81|2850|null|    30|
|  7782|  CLARK| MANAGER|7839| 09-Jun-81|2450|null|    10|
|  7566|  JONES| MANAGER|7839| 02-Apr-81|2975|null|    20|
|  7788|  SCOTT| ANALYST|7566| 19-Apr-87|3000|null|    20|
|  7902|   FORD| ANALYST|7566| 03-Dec-81|3000|null|    20|
|  7369|  SMITH|   CLERK|7902| 17-Dec-80| 800|null|    20|
|  7499|  ALLEN|SALESMAN|7698| 20-Feb-81|1600| 300|    30|
|  7521|   WARD|SALESMAN|7698| 22-Feb-81|1250| 500|    30|
|  7654| MARTIN|SALESMAN|7698| 28-Sep-81|1250|1400|    30|
|  7844| TURNER|SALESMAN|7698| 08-Sep-81|1500|   0|    30|
|  7876|  ADAMS|   CLERK|7788| 23-May-87|1100|null|    20|
+------+-------+--------+----+----------+----+----+------+

In [19]:
df.na.fill('varun',['SAL','COMM']).show()

+------+-------+--------+----+----------+----+----+------+
| EMPNO| ENAME |     JOB| MGR|HIREDATE  | SAL|COMM|DEPTNO|
+------+-------+--------+----+----------+----+----+------+
|  7698|  BLAKE| MANAGER|7839| 01-May-81|2850|null|    30|
|  7782|  CLARK| MANAGER|7839| 09-Jun-81|2450|null|    10|
|  7566|  JONES| MANAGER|7839| 02-Apr-81|2975|null|    20|
|  7788|  SCOTT| ANALYST|7566| 19-Apr-87|3000|null|    20|
|  7902|   FORD| ANALYST|7566| 03-Dec-81|3000|null|    20|
|  7369|  SMITH|   CLERK|7902| 17-Dec-80| 800|null|    20|
|  7499|  ALLEN|SALESMAN|7698| 20-Feb-81|1600| 300|    30|
|  7521|   WARD|SALESMAN|7698| 22-Feb-81|1250| 500|    30|
|  7654| MARTIN|SALESMAN|7698| 28-Sep-81|1250|1400|    30|
|  7844| TURNER|SALESMAN|7698| 08-Sep-81|1500|   0|    30|
|  7876|  ADAMS|   CLERK|7788| 23-May-87|1100|null|    20|
+------+-------+--------+----+----------+----+----+------+

In [4]:
from pyspark.ml.feature import Imputer

In [5]:
imputer=Imputer(inputCols=['COMM'],outputCols=["{}_imputed".format(c) for c in ['COMM']]).setStrategy("mean")

In [6]:
df=imputer.fit(df).transform(df)
df.show()

+------+-------+--------+----+----------+----+----+------+------------+
| EMPNO| ENAME |     JOB| MGR|HIREDATE  | SAL|COMM|DEPTNO|COMM_imputed|
+------+-------+--------+----+----------+----+----+------+------------+
|  7698|  BLAKE| MANAGER|7839| 01-May-81|2850|null|    30|         550|
|  7782|  CLARK| MANAGER|7839| 09-Jun-81|2450|null|    10|         550|
|  7566|  JONES| MANAGER|7839| 02-Apr-81|2975|null|    20|         550|
|  7788|  SCOTT| ANALYST|7566| 19-Apr-87|3000|null|    20|         550|
|  7902|   FORD| ANALYST|7566| 03-Dec-81|3000|null|    20|         550|
|  7369|  SMITH|   CLERK|7902| 17-Dec-80| 800|null|    20|         550|
|  7499|  ALLEN|SALESMAN|7698| 20-Feb-81|1600| 300|    30|         300|
|  7521|   WARD|SALESMAN|7698| 22-Feb-81|1250| 500|    30|         500|
|  7654| MARTIN|SALESMAN|7698| 28-Sep-81|1250|1400|    30|        1400|
|  7844| TURNER|SALESMAN|7698| 08-Sep-81|1500|   0|    30|           0|
|  7876|  ADAMS|   CLERK|7788| 23-May-87|1100|null|    20|         550|
+------+-------+--------+----+----------+----+----+------+------------+

### filter operations

In [23]:
df.filter(sal<=1000).show()
df.filter(sal<=1000).select(['Name','Age']).show()
df.filter(df['sal']<=1000).show()
df.filter((df['sal']<=1000 & df['age']>=25)).show()
df.filter(~(df['sal']<=1000)).show()

NameError: name 'sal' is not defined

### Group by & Aggregate Functions

In [ ]:
df.agg({'SAL':'sum'}).show()

In [ ]:
df.groupBy('DEPTNO').sum().show()

In [ ]:
df.groupBy('DEPTNO').min().show()