<a href="https://colab.research.google.com/github/varunaluri18/pyspark/blob/main/pyspark_json.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
pip install pyspark

Collecting pyspark
  Downloading pyspark-3.2.0.tar.gz (281.3 MB)
     |████████████████████████████████| 281.3 MB 44 kB/s
Collecting py4j==0.10.9.2
  Downloading py4j-0.10.9.2-py2.py3-none-any.whl (198 kB)
     |████████████████████████████████| 198 kB 50.9 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.2.0-py2.py3-none-any.whl size=281805912 sha256=5823bd4e05172ffd8b5717cd27cdd240c50aeea039f78076a43c7786c0bc27b6
  Stored in directory: /root/.cache/pip/wheels/0b/de/d2/9be5d59d7331c6c2a7c1b6d1a4f463ce107332b1ecd4e80718
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.2 pyspark-3.2.0

In [2]:
import pyspark
from pyspark.sql import SparkSession
spark =SparkSession.builder.appName('firstprogram').getOrCreate()
spark

In [3]:
from pyspark.context import SparkContext
sc = SparkContext.getOrCreate()
sc

In [4]:
a='{"numbers": [1, 2, 3, 4, 5, 6]}'
df= spark.read.json(sc.parallelize([a]))
df.show()
df.printSchema()

+------------------+
|           numbers|
+------------------+
|[1, 2, 3, 4, 5, 6]|
+------------------+

root
 |-- numbers: array (nullable = true)
 |    |-- element: long (containsNull = true)

In [5]:
print('Flatten the Array using Explode')
from pyspark.sql.functions import explode
df.select(explode('numbers').alias('number')).show()

Flatten the Array using Explode
+------+
|number|
+------+
|     1|
|     2|
|     3|
|     4|
|     5|
|     6|
+------+

In [6]:
input_json ='{"car_details":{"model": "Tesla S", "year": 2018}}'
sdf = spark.read.json(sc.parallelize([input_json]))
sdf.show()
sdf.printSchema()

+---------------+
|    car_details|
+---------------+
|{Tesla S, 2018}|
+---------------+

root
 |-- car_details: struct (nullable = true)
 |    |-- model: string (nullable = true)
 |    |-- year: long (nullable = true)

In [7]:
sdf.select(sdf.car_details.model, sdf.car_details.year).show()

+-----------------+----------------+
|car_details.model|car_details.year|
+-----------------+----------------+
|          Tesla S|            2018|
+-----------------+----------------+

In [8]:
from pyspark.sql.functions import col
sdf.select(col('car_details.model'), col('car_details.year')).show()

+-------+----+
|  model|year|
+-------+----+
|Tesla S|2018|
+-------+----+

In [9]:
from pyspark.sql.types import StructType, MapType, StringType, IntegerType
a= '{"Car":{"model_id": 835,"year": 2008}}'
schema = StructType().add("Car", MapType(StringType(), IntegerType()))
mdf = spark.read.json(sc.parallelize([a]), schema=schema)
mdf.printSchema()

root
 |-- Car: map (nullable = true)
 |    |-- key: string
 |    |-- value: integer (valueContainsNull = true)

In [10]:
mdf.show(truncate=False)
mdf.select(mdf.Car['model_id'], mdf.Car['year']).show()

+-------------------------------+
|Car                            |
+-------------------------------+
|{model_id -> 835, year -> 2008}|
+-------------------------------+

+-------------+---------+
|Car[model_id]|Car[year]|
+-------------+---------+
|          835|     2008|
+-------------+---------+

In [11]:

input_json ='''{'id': 1,'num': '001','name': 'Bulbasaur','img': 'http://www.serebii.net/pokemongo/pokemon/001.png','type': ['Grass', 'Poison'],'height': '0.71 m','weight': '6.9 kg','candy': 'Bulbasaur Candy','candy_count': 25,'egg': '2 km','spawn_chance': 0.69,'avg_spawns': 69,'spawn_time': '20:00','multipliers': [1.58],'weaknesses': ['Fire', 'Ice', 'Flying', 'Psychic'],  # Array Element'next_evolution': [{'num': '002', 'name': 'Ivysaur'}, {'num': '003', 'name': 'Venusaur'}]}'''
sdf = spark.read.json(sc.parallelize([input_json]))
sdf.show()
sdf.printSchema()

+--------------------+
|     _corrupt_record|
+--------------------+
|{'id': 1,'num': '...|
+--------------------+

root
 |-- _corrupt_record: string (nullable = true)

In [12]:
input_json='''{"users": [
    {      "userId": 1,      "firstName": "Krish",      "lastName": "Lee",      "phoneNumber": "123456",      "emailAddress": "krish.lee@learningcontainer.com"    },
    {      "userId": 2,      "firstName": "racks",      "lastName": "jacson",      "phoneNumber": "123456",      "emailAddress": "racks.jacson@learningcontainer.com"    },
    {      "userId": 3,      "firstName": "denial",      "lastName": "roast",      "phoneNumber": "33333333",      "emailAddress": "denial.roast@learningcontainer.com"    },
    {      "userId": 4,      "firstName": "devid",      "lastName": "neo",      "phoneNumber": "222222222",      "emailAddress": "devid.neo@learningcontainer.com"    },
    {      "userId": 5,      "firstName": "jone",      "lastName": "mac",      "phoneNumber": "111111111",      "emailAddress": "jone.mac@learningcontainer.com"    } ]
}'''

In [13]:
input_json

'{"users": [\n    {      "userId": 1,      "firstName": "Krish",      "lastName": "Lee",      "phoneNumber": "123456",      "emailAddress": "krish.lee@learningcontainer.com"    },\n    {      "userId": 2,      "firstName": "racks",      "lastName": "jacson",      "phoneNumber": "123456",      "emailAddress": "racks.jacson@learningcontainer.com"    },\n    {      "userId": 3,      "firstName": "denial",      "lastName": "roast",      "phoneNumber": "33333333",      "emailAddress": "denial.roast@learningcontainer.com"    },\n    {      "userId": 4,      "firstName": "devid",      "lastName": "neo",      "phoneNumber": "222222222",      "emailAddress": "devid.neo@learningcontainer.com"    },\n    {      "userId": 5,      "firstName": "jone",      "lastName": "mac",      "phoneNumber": "111111111",      "emailAddress": "jone.mac@learningcontainer.com"    } ]\n}'

In [14]:
data_in=['{"name":"Michael","Education":[{"Qualification":"BE","Year":2010}]}']
inter=spark.sparkContext.parallelize(data_in)
dff=spark.read.json(inter)

In [15]:
dff.show()
dff.select('name',col('Education.Qualification').alias('Qualification'),col('Education.year').alias('year')).show()

+------------+-------+
|   Education|   name|
+------------+-------+
|[{BE, 2010}]|Michael|
+------------+-------+

+-------+-------------+------+
|   name|Qualification|  year|
+-------+-------------+------+
|Michael|         [BE]|[2010]|
+-------+-------------+------+

In [16]:
data_in=['{"Name":["Michael","Clark"],"Education":[{"Qualification":"BE","Year":2010}]}']
inter=spark.sparkContext.parallelize(data_in)
dff=spark.read.json(inter)
dff.select('Name','Education').show()

+----------------+------------+
|            Name|   Education|
+----------------+------------+
|[Michael, Clark]|[{BE, 2010}]|
+----------------+------------+

Read the json file from the local system

In [18]:
import json
with open('/content/pocdex.json', 'r') as f:
    vals = json.load(f)
vals = vals['pokemon']

In [19]:
with open('/content/pocdex.json', 'w') as f:
    f.write(json.dumps(vals)) 
# json.dumps converts the list into a JSON String.

In [20]:
df = spark.read.json('/content/pocdex.json', multiLine=True)

In [21]:
df = spark.read.format('json').option('multiLine', 'True').load('/content/pocdex.json')

In [22]:
df.printSchema()

root
 |-- avg_spawns: double (nullable = true)
 |-- candy: string (nullable = true)
 |-- candy_count: long (nullable = true)
 |-- egg: string (nullable = true)
 |-- height: string (nullable = true)
 |-- id: long (nullable = true)
 |-- img: string (nullable = true)
 |-- multipliers: array (nullable = true)
 |    |-- element: double (containsNull = true)
 |-- name: string (nullable = true)
 |-- next_evolution: array (nullable = true)
 |    |-- element: struct (containsNull = true)
 |    |    |-- name: string (nullable = true)
 |    |    |-- num: string (nullable = true)
 |-- num: string (nullable = true)
 |-- prev_evolution: array (nullable = true)
 |    |-- element: struct (containsNull = true)
 |    |    |-- name: string (nullable = true)
 |    |    |-- num: string (nullable = true)
 |-- spawn_chance: double (nullable = true)
 |-- spawn_time: string (nullable = true)
 |-- type: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- weaknesses: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- weight: string (nullable = true)

In [23]:
df.show(5,False)

+----------+----------------+-----------+-----------+------+---+------------------------------------------------+-----------+----------+-------------------------------------+---+----------------------------------+------------+----------+---------------+----------------------------+--------+
|avg_spawns|candy           |candy_count|egg        |height|id |img                                             |multipliers|name      |next_evolution                       |num|prev_evolution                    |spawn_chance|spawn_time|type           |weaknesses                  |weight  |
+----------+----------------+-----------+-----------+------+---+------------------------------------------------+-----------+----------+-------------------------------------+---+----------------------------------+------------+----------+---------------+----------------------------+--------+
|69.0      |Bulbasaur Candy |25         |2 km       |0.71 m|1  |http://www.serebii.net/pokemongo/pokemon/001.png|[1.58]     |Bulbasaur |[{Ivysaur, 002}, {Venusaur, 003}]    |001|null                              |0.69        |20:00     |[Grass, Poison]|[Fire, Ice, Flying, Psychic]|6.9 kg  |
|4.2       |Bulbasaur Candy |100        |Not in Eggs|0.99 m|2  |http://www.serebii.net/pokemongo/pokemon/002.png|[1.2, 1.6] |Ivysaur   |[{Venusaur, 003}]                    |002|[{Bulbasaur, 001}]                |0.042       |07:00     |[Grass, Poison]|[Fire, Ice, Flying, Psychic]|13.0 kg |
|1.7       |Bulbasaur Candy |null       |Not in Eggs|2.01 m|3  |http://www.serebii.net/pokemongo/pokemon/003.png|null       |Venusaur  |null                                 |003|[{Bulbasaur, 001}, {Ivysaur, 002}]|0.017       |11:30     |[Grass, Poison]|[Fire, Ice, Flying, Psychic]|100.0 kg|
|25.3      |Charmander Candy|25         |2 km       |0.61 m|4  |http://www.serebii.net/pokemongo/pokemon/004.png|[1.65]     |Charmander|[{Charmeleon, 005}, {Charizard, 006}]|004|null                              |0.253       |08:45     |[Fire]         |[Water, Ground, Rock]       |8.5 kg  |
|1.2       |Charmander Candy|100        |Not in Eggs|1.09 m|5  |http://www.serebii.net/pokemongo/pokemon/005.png|[1.79]     |Charmeleon|[{Charizard, 006}]                   |005|[{Charmander, 004}]               |0.012       |19:00     |[Fire]         |[Water, Ground, Rock]       |19.0 kg |
+----------+----------------+-----------+-----------+------+---+------------------------------------------------+-----------+----------+-------------------------------------+---+----------------------------------+------------+----------+---------------+----------------------------+--------+
only showing top 5 rows

In [24]:
df.count()

151

In [25]:
df.columns

['avg_spawns',
 'candy',
 'candy_count',
 'egg',
 'height',
 'id',
 'img',
 'multipliers',
 'name',
 'next_evolution',
 'num',
 'prev_evolution',
 'spawn_chance',
 'spawn_time',
 'type',
 'weaknesses',
 'weight']

In [26]:
df.select('id','name','weaknesses','next_evolution', 'prev_evolution').show(5,False)

+---+----------+----------------------------+-------------------------------------+----------------------------------+
|id |name      |weaknesses                  |next_evolution                       |prev_evolution                    |
+---+----------+----------------------------+-------------------------------------+----------------------------------+
|1  |Bulbasaur |[Fire, Ice, Flying, Psychic]|[{Ivysaur, 002}, {Venusaur, 003}]    |null                              |
|2  |Ivysaur   |[Fire, Ice, Flying, Psychic]|[{Venusaur, 003}]                    |[{Bulbasaur, 001}]                |
|3  |Venusaur  |[Fire, Ice, Flying, Psychic]|null                                 |[{Bulbasaur, 001}, {Ivysaur, 002}]|
|4  |Charmander|[Water, Ground, Rock]       |[{Charmeleon, 005}, {Charizard, 006}]|null                              |
|5  |Charmeleon|[Water, Ground, Rock]       |[{Charizard, 006}]                   |[{Charmander, 004}]               |
+---+----------+----------------------------+-------------------------------------+----------------------------------+
only showing top 5 rows

In [27]:
from pyspark.sql.functions import explode
df.select('id', 'name', explode('weaknesses').alias('weakness')).show(10)

+---+---------+--------+
| id|     name|weakness|
+---+---------+--------+
|  1|Bulbasaur|    Fire|
|  1|Bulbasaur|     Ice|
|  1|Bulbasaur|  Flying|
|  1|Bulbasaur| Psychic|
|  2|  Ivysaur|    Fire|
|  2|  Ivysaur|     Ice|
|  2|  Ivysaur|  Flying|
|  2|  Ivysaur| Psychic|
|  3| Venusaur|    Fire|
|  3| Venusaur|     Ice|
+---+---------+--------+
only showing top 10 rows

In [28]:
df.select('id', 'name', 'next_evolution', 'prev_evolution').show(10,False)

+---+----------+-------------------------------------+--------------------------------------+
|id |name      |next_evolution                       |prev_evolution                        |
+---+----------+-------------------------------------+--------------------------------------+
|1  |Bulbasaur |[{Ivysaur, 002}, {Venusaur, 003}]    |null                                  |
|2  |Ivysaur   |[{Venusaur, 003}]                    |[{Bulbasaur, 001}]                    |
|3  |Venusaur  |null                                 |[{Bulbasaur, 001}, {Ivysaur, 002}]    |
|4  |Charmander|[{Charmeleon, 005}, {Charizard, 006}]|null                                  |
|5  |Charmeleon|[{Charizard, 006}]                   |[{Charmander, 004}]                   |
|6  |Charizard |null                                 |[{Charmander, 004}, {Charmeleon, 005}]|
|7  |Squirtle  |[{Wartortle, 008}, {Blastoise, 009}] |null                                  |
|8  |Wartortle |[{Blastoise, 009}]                   |[{Squirtle, 007}]                     |
|9  |Blastoise |null                                 |[{Squirtle, 007}, {Wartortle, 008}]   |
|10 |Caterpie  |[{Metapod, 011}, {Butterfree, 012}]  |null                                  |
+---+----------+-------------------------------------+--------------------------------------+
only showing top 10 rows

In [29]:
exp_df = df.select('id','name',explode('next_evolution').alias('next_evolution'), 'prev_evolution').select('id','name', 'next_evolution', explode('prev_evolution').alias('prev_evolution'))
exp_df.show(5)

+---+----------+-----------------+-----------------+
| id|      name|   next_evolution|   prev_evolution|
+---+----------+-----------------+-----------------+
|  2|   Ivysaur|  {Venusaur, 003}| {Bulbasaur, 001}|
|  5|Charmeleon| {Charizard, 006}|{Charmander, 004}|
|  8| Wartortle| {Blastoise, 009}|  {Squirtle, 007}|
| 11|   Metapod|{Butterfree, 012}|  {Caterpie, 010}|
| 14|    Kakuna|  {Beedrill, 015}|    {Weedle, 013}|
+---+----------+-----------------+-----------------+
only showing top 5 rows

In [30]:
from pyspark.sql.functions import col
exp_df.select('id','name', col('next_evolution.name').alias('next_name'), col('next_evolution.num')\
              .alias('next_num'), col('prev_evolution.name').alias('prev_name')\
              , col('prev_evolution.num').alias('prev_num')).show(4)

+---+----------+----------+--------+----------+--------+
| id|      name| next_name|next_num| prev_name|prev_num|
+---+----------+----------+--------+----------+--------+
|  2|   Ivysaur|  Venusaur|     003| Bulbasaur|     001|
|  5|Charmeleon| Charizard|     006|Charmander|     004|
|  8| Wartortle| Blastoise|     009|  Squirtle|     007|
| 11|   Metapod|Butterfree|     012|  Caterpie|     010|
+---+----------+----------+--------+----------+--------+
only showing top 4 rows

In [31]:
df.select ('id','name',col('next_evolution.name').alias('name'),'prev_evolution').show(1,False)

+---+---------+-------------------+--------------+
|id |name     |name               |prev_evolution|
+---+---------+-------------------+--------------+
|1  |Bulbasaur|[Ivysaur, Venusaur]|null          |
+---+---------+-------------------+--------------+
only showing top 1 row

In [32]:
df.select("*",'id','name', col('next_evolution.name').alias('next_name'), col('next_evolution.num')\
              .alias('next_num'), col('prev_evolution.name').alias('prev_name')\
              ,col('prev_evolution.num').alias('prev_num')).show(1)

+----------+---------------+-----------+----+------+---+--------------------+-----------+---------+--------------------+---+--------------+------------+----------+---------------+--------------------+------+---+---------+-------------------+----------+---------+--------+
|avg_spawns|          candy|candy_count| egg|height| id|                 img|multipliers|     name|      next_evolution|num|prev_evolution|spawn_chance|spawn_time|           type|          weaknesses|weight| id|     name|          next_name|  next_num|prev_name|prev_num|
+----------+---------------+-----------+----+------+---+--------------------+-----------+---------+--------------------+---+--------------+------------+----------+---------------+--------------------+------+---+---------+-------------------+----------+---------+--------+
|      69.0|Bulbasaur Candy|         25|2 km|0.71 m|  1|http://www.serebi...|     [1.58]|Bulbasaur|[{Ivysaur, 002}, ...|001|          null|        0.69|     20:00|[Grass, Poison]|[Fire, Ice, Flyin...|6.9 kg|  1|Bulbasaur|[Ivysaur, Venusaur]|[002, 003]|     null|    null|
+----------+---------------+-----------+----+------+---+--------------------+-----------+---------+--------------------+---+--------------+------------+----------+---------------+--------------------+------+---+---------+-------------------+----------+---------+--------+
only showing top 1 row

In [33]:
df.select('avg_spawns','candy','candy_count','egg','height','id','img','multipliers','name',col('next_evolution.name').alias('next_name'), col('next_evolution.num').alias('next_num'),'num',col('prev_evolution.name').alias('prev_name'),col('prev_evolution.num').alias('prev_num'),'spawn_chance','spawn_time','type','weaknesses','weight').printSchema()

root
 |-- avg_spawns: double (nullable = true)
 |-- candy: string (nullable = true)
 |-- candy_count: long (nullable = true)
 |-- egg: string (nullable = true)
 |-- height: string (nullable = true)
 |-- id: long (nullable = true)
 |-- img: string (nullable = true)
 |-- multipliers: array (nullable = true)
 |    |-- element: double (containsNull = true)
 |-- name: string (nullable = true)
 |-- next_name: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- next_num: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- num: string (nullable = true)
 |-- prev_name: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- prev_num: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- spawn_chance: double (nullable = true)
 |-- spawn_time: string (nullable = true)
 |-- type: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- weaknesses: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- weight: string (nullable = true)

In [34]:
df.select('avg_spawns','candy','candy_count','egg','height','id','img','multipliers','name',col('next_evolution.name').alias('next_name'), col('next_evolution.num').alias('next_num'),'num',col('prev_evolution.name').alias('prev_name'),col('prev_evolution.num').alias('prev_num'),'spawn_chance','spawn_time','type','weaknesses','weight').show(6)

+----------+----------------+-----------+-----------+------+---+--------------------+-----------+----------+--------------------+----------+---+--------------------+----------+------------+----------+---------------+--------------------+--------+
|avg_spawns|           candy|candy_count|        egg|height| id|                 img|multipliers|      name|           next_name|  next_num|num|           prev_name|  prev_num|spawn_chance|spawn_time|           type|          weaknesses|  weight|
+----------+----------------+-----------+-----------+------+---+--------------------+-----------+----------+--------------------+----------+---+--------------------+----------+------------+----------+---------------+--------------------+--------+
|      69.0| Bulbasaur Candy|         25|       2 km|0.71 m|  1|http://www.serebi...|     [1.58]| Bulbasaur| [Ivysaur, Venusaur]|[002, 003]|001|                null|      null|        0.69|     20:00|[Grass, Poison]|[Fire, Ice, Flyin...|  6.9 kg|
|       4.2| Bulbasaur Candy|        100|Not in Eggs|0.99 m|  2|http://www.serebi...| [1.2, 1.6]|   Ivysaur|          [Venusaur]|     [003]|002|         [Bulbasaur]|     [001]|       0.042|     07:00|[Grass, Poison]|[Fire, Ice, Flyin...| 13.0 kg|
|       1.7| Bulbasaur Candy|       null|Not in Eggs|2.01 m|  3|http://www.serebi...|       null|  Venusaur|                null|      null|003|[Bulbasaur, Ivysaur]|[001, 002]|       0.017|     11:30|[Grass, Poison]|[Fire, Ice, Flyin...|100.0 kg|
|      25.3|Charmander Candy|         25|       2 km|0.61 m|  4|http://www.serebi...|     [1.65]|Charmander|[Charmeleon, Char...|[005, 006]|004|                null|      null|       0.253|     08:45|         [Fire]|[Water, Ground, R...|  8.5 kg|
|       1.2|Charmander Candy|        100|Not in Eggs|1.09 m|  5|http://www.serebi...|     [1.79]|Charmeleon|         [Charizard]|     [006]|005|        [Charmander]|     [004]|       0.012|     19:00|         [Fire]|[Water, Ground, R...| 19.0 kg|
|      0.31|Charmander Candy|       null|Not in Eggs|1.70 m|  6|http://www.serebi...|       null| Charizard|                null|      null|006|[Charmander, Char...|[004, 005]|      0.0031|     13:34| [Fire, Flying]|[Water, Electric,...| 90.5 kg|
+----------+----------------+-----------+-----------+------+---+--------------------+-----------+----------+--------------------+----------+---+--------------------+----------+------------+----------+---------------+--------------------+--------+
only showing top 6 rows

In [35]:
from pyspark.sql.functions import explode
df.select('id', 'name', explode('next_evolution').alias('next_evolution')).show(5)

+---+----------+-----------------+
| id|      name|   next_evolution|
+---+----------+-----------------+
|  1| Bulbasaur|   {Ivysaur, 002}|
|  1| Bulbasaur|  {Venusaur, 003}|
|  2|   Ivysaur|  {Venusaur, 003}|
|  4|Charmander|{Charmeleon, 005}|
|  4|Charmander| {Charizard, 006}|
+---+----------+-----------------+
only showing top 5 rows

In [36]:
from pyspark.sql.functions import explode_outer, col
exp_out_df = df.select('id','name',explode_outer('next_evolution').alias('next_evolution'), 'prev_evolution')\
.select('id','name', 'next_evolution', explode_outer('prev_evolution').alias('prev_evolution'))
exp_out_df.show(4)

+---+---------+---------------+----------------+
| id|     name| next_evolution|  prev_evolution|
+---+---------+---------------+----------------+
|  1|Bulbasaur| {Ivysaur, 002}|            null|
|  1|Bulbasaur|{Venusaur, 003}|            null|
|  2|  Ivysaur|{Venusaur, 003}|{Bulbasaur, 001}|
|  3| Venusaur|           null|{Bulbasaur, 001}|
+---+---------+---------------+----------------+
only showing top 4 rows

In [37]:
df.select('name','next_evolution').show(10,False)

+----------+-------------------------------------+
|name      |next_evolution                       |
+----------+-------------------------------------+
|Bulbasaur |[{Ivysaur, 002}, {Venusaur, 003}]    |
|Ivysaur   |[{Venusaur, 003}]                    |
|Venusaur  |null                                 |
|Charmander|[{Charmeleon, 005}, {Charizard, 006}]|
|Charmeleon|[{Charizard, 006}]                   |
|Charizard |null                                 |
|Squirtle  |[{Wartortle, 008}, {Blastoise, 009}] |
|Wartortle |[{Blastoise, 009}]                   |
|Blastoise |null                                 |
|Caterpie  |[{Metapod, 011}, {Butterfree, 012}]  |
+----------+-------------------------------------+
only showing top 10 rows

In [38]:
from pyspark.sql.functions import explode
df.select('id', 'name', explode('weaknesses').alias('weakness')).show(10)

+---+---------+--------+
| id|     name|weakness|
+---+---------+--------+
|  1|Bulbasaur|    Fire|
|  1|Bulbasaur|     Ice|
|  1|Bulbasaur|  Flying|
|  1|Bulbasaur| Psychic|
|  2|  Ivysaur|    Fire|
|  2|  Ivysaur|     Ice|
|  2|  Ivysaur|  Flying|
|  2|  Ivysaur| Psychic|
|  3| Venusaur|    Fire|
|  3| Venusaur|     Ice|
+---+---------+--------+
only showing top 10 rows

plz find the belowe link for the refernce

https://datanoon.com/blog/semi_structured_data_spark/