<a href="https://colab.research.google.com/github/varunaluri18/pyspark/blob/main/spark_RDD_basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
pip install pyspark

Collecting pyspark
  Downloading pyspark-3.2.0.tar.gz (281.3 MB)
     |████████████████████████████████| 281.3 MB 38 kB/s
Collecting py4j==0.10.9.2
  Downloading py4j-0.10.9.2-py2.py3-none-any.whl (198 kB)
     |████████████████████████████████| 198 kB 52.0 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.2.0-py2.py3-none-any.whl size=281805912 sha256=994e0cbec5d3cc22e4e95c560719d41d6a01e08bc954f5a982d2b1175ec18a5a
  Stored in directory: /root/.cache/pip/wheels/0b/de/d2/9be5d59d7331c6c2a7c1b6d1a4f463ce107332b1ecd4e80718
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.2 pyspark-3.2.0

In [2]:
from pyspark import SparkContext
sc = SparkContext.getOrCreate()
sc

In [39]:
import pyspark
from pyspark.sql import SparkSession
spark =SparkSession.builder.appName('firstprogram').getOrCreate()
spark

In [3]:
print("Actions in PySpark RDDs")
print("collect,count,first,take,reduce,saveAsTextFile")

Actions in PySpark RDDs
collect,count,first,take,reduce,saveAsTextFile

In [4]:
print(".collect() Action")
rdd=sc.parallelize([1,2,3,4,5])
print(rdd.collect())

.collect() Action
[1, 2, 3, 4, 5]

In [5]:
print(".count() Action")
rdd=sc.parallelize([1,2,3,4,5,6,7,8,9])
print(rdd.count())

.count() Action
9

In [6]:
print(".first Action")
rdd=sc.parallelize([1,2,3,4,5,6,7,8,9,10])
print(rdd.first())

.first Action
1

In [7]:
print(".take() Action")
rdd=sc.parallelize([1,2,3,4,5])
print(rdd.take(5))

.take() Action
[1, 2, 3, 4, 5]

In [8]:
print(".reduce() Action")
rdd=sc.parallelize([1,3,4,6])
print(rdd.reduce(lambda x, y : x + y))

.reduce() Action
14

In [9]:
print(".saveAsTextFile Action")
rdd=sc.parallelize([1,2,3,4,5,6])
rdd.saveAsTextFile('file.txt')

.saveAsTextFile Action

In [10]:
print("Transformations in PySpark RDDs")
print('')

Transformations in PySpark RDDs

In [11]:
print(".map() Transformation")
rdd=sc.parallelize([1,2,3,4])
print(rdd.map(lambda x: x+ 10).collect())

.map() Transformation
[11, 12, 13, 14]

In [12]:
print(".filter() Transformation")
rdd = sc.parallelize([2, 3, 4, 5, 6, 7])
print(rdd.filter(lambda x: x%2 == 0).collect())

.filter() Transformation
[2, 4, 6]

In [13]:
rdd=sc.parallelize(['varun','sravani','ishwarya','kaveri','vidya'])
print(rdd.filter(lambda x: x.startswith('v')).collect())

['varun', 'vidya']

In [14]:
print(".union() Transformation")
inp=sc.parallelize([2,4,5,6,7,8,9])
rdd1=inp.filter(lambda x: x % 2 == 0)
rdd2=inp.filter(lambda x: x % 3 == 0)
print(rdd1.union(rdd2).collect())

.union() Transformation
[2, 4, 6, 8, 6, 9]

In [15]:
print(".flatMap() Transformation")
rdd=sc.parallelize(["Hey there", "This is PySpark RDD Transformations"])
(rdd.flatMap(lambda x: x.split(" ")).collect())

.flatMap() Transformation

['Hey', 'there', 'This', 'is', 'PySpark', 'RDD', 'Transformations']

In [16]:
marks = [('Rahul', 88), ('Swati', 92), ('Shreya', 83), ('Abhay', 93), ('Rohan', 78)]
sc.parallelize(marks).collect()

[('Rahul', 88), ('Swati', 92), ('Shreya', 83), ('Abhay', 93), ('Rohan', 78)]

In [17]:
print(".reduceByKey() Transformation")
marks_rdd = sc.parallelize([('Rahul', 25), ('Swati', 26), ('Shreya', 22), ('Abhay', 29), ('Rohan', 22), ('Rahul', 23), ('Swati', 19), ('Shreya', 28), ('Abhay', 26), ('Rohan', 22)])
print(marks_rdd.reduceByKey(lambda x, y: x + y).collect())

.reduceByKey() Transformation
[('Rahul', 48), ('Shreya', 50), ('Rohan', 44), ('Swati', 45), ('Abhay', 55)]

In [18]:
print(".sortByKey() Transformation")
marks_rdd = sc.parallelize([('Rahul', 25), ('Swati', 26), ('Shreya', 22), ('Abhay', 29), ('Rohan', 22), ('Rahul', 23), ('Swati', 19), ('Shreya', 28), ('Abhay', 26), ('Rohan', 22)])
print(marks_rdd.sortByKey('ascending').collect())

.sortByKey() Transformation
[('Abhay', 29), ('Abhay', 26), ('Rahul', 25), ('Rahul', 23), ('Rohan', 22), ('Rohan', 22), ('Shreya', 22), ('Shreya', 28), ('Swati', 26), ('Swati', 19)]

In [19]:
print(".groupByKey() Transformation")
marks_rdd = sc.parallelize([('Rahul', 25), ('Swati', 26), ('Shreya', 22), ('Abhay', 29), ('Rohan', 22), ('Rahul', 23), ('Swati', 19), ('Shreya', 28), ('Abhay', 26), ('Rohan', 22)])
dict_rdd = marks_rdd.groupByKey().collect()
for key, value in dict_rdd:
    print(key, list(value))

.groupByKey() Transformation
Rahul [25, 23]
Shreya [22, 28]
Rohan [22, 22]
Swati [26, 19]
Abhay [29, 26]

In [52]:
#map

In [58]:
data = ["Project","Gutenberg’s","Alice’s","Adventures","in","Wonderland","Project","Gutenberg’s","Adventures","in","Wonderland","Project","Gutenberg’s"]
rdd=sc.parallelize(data)  
rdd2=rdd.map(lambda x:(x,'hai'))
rdd2.collect()

[('Project', 'hai'),
 ('Gutenberg’s', 'hai'),
 ('Alice’s', 'hai'),
 ('Adventures', 'hai'),
 ('in', 'hai'),
 ('Wonderland', 'hai'),
 ('Project', 'hai'),
 ('Gutenberg’s', 'hai'),
 ('Adventures', 'hai'),
 ('in', 'hai'),
 ('Wonderland', 'hai'),
 ('Project', 'hai'),
 ('Gutenberg’s', 'hai')]

In [54]:
a=[1,2,3,4]
rdd=sc.parallelize(a)
rdd2=rdd.map(lambda x: (x+1))
for element in rdd2.collect():
    print(element)

2
3
4
5

In [59]:
data = [('James','Smith','M',30),('Anna','Rose','F',41),('Robert','Williams','M',62), ]
columns = ["firstname","lastname","gender","salary"]
df = spark.createDataFrame(data=data, schema = columns)
df.show()
# Refering columns by index.
rdd2=df.rdd.map(lambda x: (x[0]+","+x[1],x[2],x[3]*2))  
df2=rdd2.toDF(["name","gender","new_salary"]   )
df2.show()

+---------+--------+------+------+
|firstname|lastname|gender|salary|
+---------+--------+------+------+
|    James|   Smith|     M|    30|
|     Anna|    Rose|     F|    41|
|   Robert|Williams|     M|    62|
+---------+--------+------+------+

+---------------+------+----------+
|           name|gender|new_salary|
+---------------+------+----------+
|    James,Smith|     M|        60|
|      Anna,Rose|     F|        82|
|Robert,Williams|     M|       124|
+---------------+------+----------+

In [56]:
# Referring Column Names
rdd2=df.rdd.map(lambda x:(x["firstname"]+","+x["lastname"],x["gender"],x["salary"]*2)) 
rdd2.collect()

[('James,Smith', 'M', 60),
 ('Anna,Rose', 'F', 82),
 ('Robert,Williams', 'M', 124)]

In [57]:
rdd2=df.rdd.map(lambda x: (x.firstname+","+x.lastname,x.gender,x.salary*2)) 
rdd2.collect()

[('James,Smith', 'M', 60),
 ('Anna,Rose', 'F', 82),
 ('Robert,Williams', 'M', 124)]